.content_statistical {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    .layout_one {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        gap: 30px;
    }
    .box_title {
        margin-bottom: 0.5rem;
    }
    .box,
    .box_long {
        width: calc(50% - 30px / 2);
        background-color: #e4e6e9;
        font-size: 20px;
        padding: 30px 30px;
        border-radius: 10px;
        &_title {
            font-weight: 500;
        }
        &_number {
            font-size: 24px;
            font-weight: 600;
            color: #6eeb49;
        }
    }
    .box_long {
        width: 100%;
    }
    .layout_two {
        gap: 30px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .red {
        color: rgb(214, 73, 22);
    }
}